@import url("../vendor/icon-fonts/bootstrap-icons/icons/font/bootstrap-icons.css");
@import url("../vendor/icon-fonts/boxicons/css/boxicons.css");
@import url("../vendor/icon-fonts/feather/feather.css");
@import url("../vendor/icon-fonts/fontawesome-free/css/all.min.css");
@import url("../vendor/icon-fonts/ionicons/css/ionicons.min.css");
@import url("../vendor/icon-fonts/line-awesome/1.3.0/css/line-awesome.css");
@import url("../vendor/icon-fonts/materialdesignicons/materialdesignicons.css");
@import url("../vendor/icon-fonts/RemixIcons/fonts/remixicon.css");
@import url("../vendor/icon-fonts/simple-line-icons/simple-line-icons.css");
@import url("../vendor/icon-fonts/tabler-icons/iconfont/tabler-icons.css");
@import url("../vendor/icon-fonts/themify/themify.css");
@import url("../vendor/icon-fonts/typicons.font/typicons.css");
